canvas {
    border: 2px solid black;
    background-color: black;
}

video {
    display: none;
}

#radii {
    background-color: lightgray;
}
#radius1disp, #radius2disp, #radius3disp {
    width: 60px;
}