canvas {
    border: 2px solid black;
    background-color: black;
    width: 50%;
    float: left;
}

#controls {
    margin: 10px 10px 10px 10px;
}

video {
    display: none;
}

#radii {
    background-color: lightgray;
}
#radius1disp, #radius2disp, #radius3disp {
    width: 60px;
}