
canvas {
    border: 2px solid black;
    background-color: black;
    width: 50%;
    height: 100%;
    float: left;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

#section2 {
    padding: 5px 5px 5px 5px;
    background-color: darkolivegreen;
    color: white;
}

#section1 {
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: white;
}

#controls {
    margin: 10px 10px 10px 10px;
}

video {
    display: none;
}

#radii {
    background-color: lightgray;
}
#radius1disp, #radius2disp, #radius3disp {
    width: 60px;
}