canvas {
    border: 2px solid black;
    background-color: black;
    width: 50%;
    float: left;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

#pro {
    padding: 5px 5px 5px 5px;
    background-color: darkolivegreen;
}

#other {
    padding: 5px 5px 5px 5px;
    background-color: saddlebrown;
}

#offset {
    padding: 5px 5px 5px 5px;
    background-color: mediumpurple
}

#rot {
    padding: 5px 5px 5px 5px;
    background-color: darkblue;
    color: lightblue;
}

#controls {
    margin: 10px 10px 10px 10px;
}

video {
    display: none;
}

#radii {
    background-color: lightgray;
}
#radius1disp, #radius2disp, #radius3disp {
    width: 60px;
}